In [17]:
import pandas as pd
from sqlalchemy import create_engine
import requests

In [13]:
df = pd.read_csv('yellow_trip_data_2021-01.csv', nrows = 100)

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [31]:
df_iter = pd.read_csv('yellow_trip_data_2021-01.csv', iterator=True,chunksize=100000)

In [16]:
df = next(df_iter)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [24]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 4.16 s, sys: 97.1 ms, total: 4.26 s
Wall time: 18.3 s

1000

In [32]:
from time import time

In [33]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f' % (t_end - t_start))

inserted another chunk, took 15.380
inserted another chunk, took 15.340
inserted another chunk, took 16.442
inserted another chunk, took 17.910
inserted another chunk, took 16.597
inserted another chunk, took 19.718
inserted another chunk, took 18.124
inserted another chunk, took 17.212
inserted another chunk, took 21.844
inserted another chunk, took 17.465
inserted another chunk, took 18.313
inserted another chunk, took 26.512

/var/folders/dj/s_clsr5n1bj1lb31fq0vx2840000gp/T/ipykernel_99335/1952985021.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 18.255
inserted another chunk, took 10.751

StopIteration:

In [18]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

response = requests.get(url)
with open('./taxi_zone_lookup.csv','wb') as f:
    f.write(response.content)

In [19]:
df = pd.read_csv("./taxi_zone_lookup.csv")

In [25]:
df.to_sql(name='zones',con=engine,if_exists="replace")

265